#results {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#results-header {
    font-size: 1.5em;
}

.person-box, .link-box {
    font-weight: bold;
}

body {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
}